*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f1115;
color:#fff;
padding:18px;
padding-bottom:90px;
}

.header{
text-align:center;
margin-bottom:20px;
}

.header h2{
font-size:28px;
color:#ffb400;
}

.walletCard,
.depositCard{
background:#1b1f28;
border-radius:18px;
padding:18px;
margin-bottom:20px;
border:1px solid #2b313d;
}

.walletCard{
text-align:center;
}

.walletCard h3{
color:#aaa;
margin-bottom:10px;
}

.walletCard h1{
font-size:36px;
color:#ffb400;
}

.depositCard label{
display:block;
margin-top:15px;
margin-bottom:8px;
font-weight:600;
}

.depositCard input{
width:100%;
padding:14px;
border:none;
outline:none;
border-radius:12px;
background:#2b313d;
color:#fff;
font-size:15px;
}

.upiBox{
display:flex;
gap:10px;
margin-bottom:15px;
}

.upiBox input{
flex:1;
}

#copyUpi{
width:90px;
border:none;
background:#ffb400;
color:#111;
border-radius:12px;
font-weight:700;
cursor:pointer;
}

.qrBox{
text-align:center;
margin:20px 0;
}

.qrBox img{
width:220px;
max-width:100%;
border-radius:15px;
border:2px solid #333;
}

#paymentScreenshot{
background:#2b313d;
padding:10px;
}

.note{
margin-top:15px;
font-size:14px;
color:#aaa;
line-height:1.6;
text-align:center;
}

#depositBtn{
width:100%;
margin-top:20px;
padding:15px;
border:none;
border-radius:14px;
background:#ffb400;
color:#111;
font-size:18px;
font-weight:700;
cursor:pointer;
transition:.3s;
}

#depositBtn:hover{
transform:scale(1.02);
}

.bottomNav{
position:fixed;
left:0;
right:0;
bottom:0;
height:70px;
background:#171a21;
display:flex;
justify-content:space-around;
align-items:center;
border-top:1px solid #333;
}

.bottomNav a{
display:flex;
flex-direction:column;
align-items:center;
text-decoration:none;
color:#999;
font-size:13px;
}

.bottomNav a.active{
color:#ffb400;
}

.bottomNav i{
font-size:22px;
margin-bottom:4px;
}
