*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f1115;
color:#fff;
padding:18px;
padding-bottom:90px;
}

.header{
text-align:center;
margin-bottom:20px;
}

.header h2{
color:#ffb400;
font-size:28px;
}

.loading{
text-align:center;
margin-top:60px;
color:#999;
}

.notificationCard{

background:#1b1f28;

padding:18px;

border-radius:18px;

margin-bottom:15px;

border:1px solid #2b313d;

}

.notificationCard h3{

color:#ffb400;

margin-bottom:10px;

}

.notificationCard p{

line-height:1.6;

color:#ddd;

}

.notificationCard span{

display:block;

margin-top:10px;

font-size:13px;

color:#888;

}

.bottomNav{

position:fixed;

bottom:0;

left:0;

right:0;

height:70px;

background:#171a21;

display:flex;

justify-content:space-around;

align-items:center;

border-top:1px solid #333;

}

.bottomNav a{

display:flex;

flex-direction:column;

align-items:center;

text-decoration:none;

color:#999;

font-size:13px;

}

.bottomNav a.active{

color:#ffb400;

}

.bottomNav i{

font-size:22px;

margin-bottom:4px;

}
