*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b0b0b;
color:#fff;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.container{
width:100%;
max-width:420px;
}

.logo{
width:90px;
display:block;
margin:0 auto 15px;
}

h2{
text-align:center;
color:gold;
margin-bottom:20px;
}

.card{
background:#171717;
padding:20px;
border-radius:20px;
border:1px solid rgba(255,215,0,.25);
box-shadow:0 0 20px rgba(255,215,0,.15);
}

p{
color:#bbb;
margin-top:15px;
}

h3{
color:#fff;
margin-top:5px;
margin-bottom:10px;
}

input{
width:100%;
padding:14px;
background:#222;
color:#fff;
border:none;
border-radius:10px;
margin-top:10px;
}

button{
width:100%;
padding:14px;
margin-top:15px;
background:gold;
color:#000;
font-weight:bold;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;
}

#logoutBtn{
background:#ff4444;
color:#fff;
}
