*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f1115;
color:#fff;
padding:20px;
padding-bottom:90px;
}

.container{
background:#1b1f28;
padding:25px;
border-radius:18px;
border:1px solid #2b313d;
}

.container h2{
text-align:center;
margin-bottom:20px;
color:#ffb400;
}

.container input{
width:100%;
padding:15px;
border:none;
outline:none;
border-radius:12px;
background:#2b313d;
color:#fff;
font-size:16px;
margin-bottom:15px;
}

#applyPromo{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:#ffb400;
color:#111;
font-size:17px;
font-weight:700;
cursor:pointer;
transition:.3s;
}

#applyPromo:hover{
transform:scale(1.02);
}

#promoMessage{
margin-top:18px;
text-align:center;
font-size:16px;
font-weight:600;
}

.note{
margin-top:20px;
background:#15181f;
padding:15px;
border-radius:12px;
line-height:1.7;
color:#aaa;
font-size:14px;
}

.bottomNav{
position:fixed;
bottom:0;
left:0;
right:0;
height:70px;
background:#171a21;
display:flex;
justify-content:space-around;
align-items:center;
border-top:1px solid #333;
}

.bottomNav a{
display:flex;
flex-direction:column;
align-items:center;
text-decoration:none;
color:#999;
font-size:13px;
}

.bottomNav a.active{
color:#ffb400;
}

.bottomNav i{
font-size:22px;
margin-bottom:4px;
}
