*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f1115;
color:#fff;
padding:18px;
padding-bottom:90px;
}

.header{
text-align:center;
margin-bottom:20px;
}

.header h2{
color:#ffb400;
font-size:28px;
}

.card{
background:#1b1f28;
border:1px solid #2b313d;
border-radius:18px;
padding:20px;
margin-bottom:20px;
}

.card h3{
margin-bottom:15px;
color:#ccc;
}

.codeBox{
display:flex;
gap:10px;
margin-bottom:15px;
}

.codeBox input{
flex:1;
padding:14px;
border:none;
outline:none;
border-radius:12px;
background:#2b313d;
color:#fff;
font-size:16px;
font-weight:600;
}

#copyCode{
width:90px;
border:none;
border-radius:12px;
background:#ffb400;
color:#111;
font-weight:700;
cursor:pointer;
}

#shareBtn{
width:100%;
padding:15px;
border:none;
border-radius:14px;
background:#25D366;
color:#fff;
font-size:17px;
font-weight:700;
cursor:pointer;
}

.card h1{
font-size:36px;
color:#ffb400;
text-align:center;
margin-top:10px;
}

.bottomNav{
position:fixed;
left:0;
right:0;
bottom:0;
height:70px;
background:#171a21;
display:flex;
justify-content:space-around;
align-items:center;
border-top:1px solid #333;
}

.bottomNav a{
display:flex;
flex-direction:column;
align-items:center;
text-decoration:none;
color:#999;
font-size:13px;
}

.bottomNav a.active{
color:#ffb400;
}

.bottomNav i{
font-size:22px;
margin-bottom:4px;
}
