.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.header a{
color:#fff;
font-size:22px;
text-decoration:none;
}

.walletCard{
background:linear-gradient(135deg,#FFD700,#D4AF37);
padding:25px;
border-radius:20px;
color:#111;
margin-bottom:20px;
box-shadow:0 10px 25px rgba(255,215,0,.25);
}

.walletCard h3{
font-size:16px;
margin-bottom:10px;
}

.walletCard h1{
font-size:36px;
font-weight:700;
margin-bottom:8px;
}

.walletCard p{
font-size:14px;
font-weight:600;
opacity:.8;
}

.actionGrid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
margin-bottom:20px;
}

.actionCard{
background:#171717;
border:1px solid rgba(255,215,0,.15);
border-radius:18px;
padding:22px;
text-align:center;
text-decoration:none;
color:#fff;
transition:.25s;
}

.actionCard:hover{
transform:translateY(-3px);
border-color:#FFD700;
}

.actionCard i{
font-size:28px;
color:#FFD700;
margin-bottom:12px;
}

.actionCard h3{
font-size:15px;
}

.promo{
margin-bottom:20px;
}

.promo h3{
margin-bottom:12px;
}

.promoBox{
display:flex;
gap:10px;
}

.promoBox input{
flex:1;
height:50px;
border:none;
outline:none;
background:#171717;
color:#fff;
padding:0 15px;
border-radius:12px;
}

.promoBox button{
width:110px;
border:none;
background:#FFD700;
color:#111;
font-weight:700;
border-radius:12px;
cursor:pointer;
}

.historyTop{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.historyTop a{
color:#FFD700;
text-decoration:none;
font-size:14px;
}

.transactionItem{
background:#171717;
border:1px solid rgba(255,215,0,.15);
padding:15px;
border-radius:15px;
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:12px;
}

.transactionItem h4{
margin-bottom:5px;
}

.transactionItem small{
color:#aaa;
}

.transactionItem strong{
color:#FFD700;
font-size:18px;
}

.empty{
background:#171717;
padding:35px;
text-align:center;
border-radius:15px;
color:#888;
border:1px dashed rgba(255,215,0,.15);
}

@media(max-width:768px){

.walletCard h1{
font-size:30px;
}

.actionGrid{
grid-template-columns:repeat(2,1fr);
}

}
