*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b0b0b;
color:#fff;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.container{
width:100%;
max-width:420px;
background:#171717;
padding:25px;
border-radius:20px;
border:1px solid rgba(255,215,0,.25);
box-shadow:0 0 20px rgba(255,215,0,.15);
text-align:center;
}

.logo{
width:90px;
margin-bottom:15px;
}

h2{
color:gold;
margin-bottom:20px;
}

h1{
color:gold;
margin-bottom:20px;
font-size:38px;
}

label{
display:block;
text-align:left;
margin:15px 0 8px;
}

input{
width:100%;
padding:14px;
background:#222;
color:#fff;
border:none;
border-radius:10px;
margin-bottom:15px;
}

button{
width:100%;
padding:15px;
background:gold;
color:#000;
font-weight:bold;
font-size:16px;
border:none;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.03);
}
